.bundle
_config.yml.orig
_cache
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
source/files/raringruby.box
vendor
node_modules
tags
_code_cache/source/files/raringruby.box
public/ivanoats/files/raringruby.box
_code_cache/
