{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<div id="footerMain" class="purple ">
 <div id="footerWrap">
  <div id="footerLogo">
   <a id="footerLogoLink" href="//www.washington.edu/">University of Washington</a>
  </div>
  <div id="footerLinks">
   <div class="logoAbsoluteFooter"><a id="footerWLogoLink" href="//www.washington.edu/">W</a></div>
   <h3><a href="http://www.washington.edu/discovery/washingtonway/">Discover what's next. It's the Washington Way.</a></h3>
   <ul>
    <li class="leftText"><a href="//www.washington.edu/">&#169; 2013 University of Washington</a></li>
    <li class="centerText"><a href="//www.seattle.gov/">Seattle, Washington</a></li>
    <li class="centerText"><a href="//www.washington.edu/home/siteinfo/form/">Contact Us</a></li>
    <li class="rightText"><a href="//www.washington.edu/jobs/">Jobs</a></li>
    <li class="rightText"><a href="//myuw.washington.edu/">My UW</a></li>
    <li class="rightText"><a href="//www.washington.edu/online/privacy/">Privacy</a></li>
    <li class="rightText"><a href="//www.washington.edu/online/terms/">Terms</a></li>
   </ul>
  </div>
 </div>
</div>

