<div id="wheader" class="colorGold wYes patchYes ">
 <div id="autoMargin">
  <div class="wlogoSmall">
    <!--   <div class="logoAbsolute"><a id="wlogoLink" href="//www.washington.edu/">W</a></div> -->
   <div><a href="//www.washington.edu/">University of Washington</a></div>
  </div>

  <div id="wtext">
   <ul>
    <li><a href="//www.washington.edu/">UW Home</a></li>
    <li><span class="wborder"><a href="//www.washington.edu/home/directories.html">Directories</a></span></li>
    <li><span class="wborder"><a href="//www.washington.edu/discover/visit/uw-events">Calendar</a></span></li>
    <li><span class="wborder"><a href="//www.lib.washington.edu/">Libraries</a></span></li>
    <li><span class="wborder"><a href="//www.washington.edu/maps/">Maps</a></span></li>
    <li><span class="wborder"><a href="//myuw.washington.edu/">My UW</a></span></li>
   </ul>
  </div>
 </div>
</div>

